/* 공통 CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 12px;
}

li {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

/* ========= 레이아웃용 CSS ========= */
#header {
    width: 100%;
}

#content {
    width: 1600px;
    margin: 0 auto;
}

#footer {
    width: 100%;
}

/* 작업용 CSS */
* {
    /* border: 1px solid red; */
}

/* 
#header {
    height: 115px;
} */

/* #content {
    height: 1000px;
} */

/* #footer {
    height: 200px;
} */

/* ========= 1. 헤더 상단메뉴 ========= */
ul#topMenu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    padding: 5px;
}

#topMenu img {
    width: 20px;
    margin-top: 2px;
    margin-right: 30px;
}

#topMenu>li>span {
    padding: 0 15px;
}

/* ========= 1. 헤더 하단메뉴 ========= */
#mainMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
}

#mainMenu .logo {
    width: 90%;
}

#mainMenu>ul {
    display: flex;
    font-weight: bold;
    width: 75%;
}

#mainMenu>ul>li {
    /* ... */
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchBox {
    border-bottom: 1px solid black;
}

#searchBox>input {
    border: none;
    width: 120px;
    padding: 5px;
}

#searchBox>img {
    height: 15px;
}

/* 커서(포커스) 활성화 되었을 때 테두리(outline) 제거 */
*:focus {
    outline: none;
}

#mainMenu .colorRed {
    color: red;
}

/* 2-2 드롭메뉴 */
#mainMenu>ul>li {
    position: relative;
}

#mainMenu .subMenu {
    position: absolute;
    top: 80px;
    background-color: white;
    width: 130%;
    text-align: center;
    display: none;
}

#mainMenu .subMenu>li {
    margin: 15px;
}

#mainMenu>ul>li:hover .subMenu {
    display: block;
}

/* 2-3. 본메뉴 sticky */
#mainMenu {
    /* 스크롤 내릴 경우 위치 고정 */
    position: sticky;
    /* 최상단 */
    top: 0px;
    /* 스티키 사용조건
        1. sticky: 상위 부모의 높이 사이즈 안에서 고정
           vs fixed: 특정 요소와 상관없이 디바이스 고정 
        2. top, right, left, bottom 위치 속성 1개 이상 필수!
        3. 부모요소가 overflow 속성 사용금지
    */
    background-color: white;
    /* 투명도 */
    opacity: 80%;
}

/* ========= 3. 메인 이미지 ========= */
#mainImg {
    width: 100%;
}

/* ========= 4. 본문 ========= */
#content>.title {
    margin-top: 50px;
    font-size: 17px;
    text-align: center;
}

#content>.comment {
    margin: 20px 0;
    font-size: 13px;
    text-align: center;
    color: grey;
}

/* items(1600)가로사이즈 한줄에 4개씩 이므로 나누기 4하고 여백 조금 빼기  */
#items>.item {
    width: 350px;
    margin: 30px 0;
}

#items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#items>.item>.itemImg {
    width: 100%;
}

#items .color>span {
    width: 10px;
    height: 10px;
    /* span 마크업 기본값 display: inline */
    /* 한줄 가로배치, 사이즈 적용됨 */
    display: inline-block;
    border: 1px solid #dbdbdb;
}

#items .colorReview {
    display: flex;
    justify-content: space-between;
}

#items .review {
    color: #999999;
}

#items .itemName {
    margin: 5px 0px;
}

#items .itemName>.size {
    font-size: 10px;
    color: #999999;
    margin: 2px 0;
}

#items .itemPrice {
    position: relative;
    margin: 5px 0;
}

#items .disc {
    font-size: 15px;
    color: red;
    position: absolute;
    top: 0px;
    right: 0px;
}

#items .price {
    text-decoration: line-through;
    color: #999999;
}

/* 팝업 */
#popup {
    position: fixed;
    top: 30%;
    right: 0px;
}

#popup img {
    height: 30px;
    opacity: 70%;
}

#popup>ul>li {
    padding: 12px;
    border: 1px solid #dbdbdb;
    background: #f7f7f7;
    position: relative;
}

#popup>ul>li>span {
    position: absolute;
    top: 18px;
    right: 55px;
    width: 80px;
    height: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    display: none;
}

#popup>ul>li:hover .popupSub {
    display: inline;
}

/* 푸터 */
#footerTop {
    background-color: rgb(243, 240, 240);
    padding: 40px;
}

#footerTop>ul {
    display: flex;
    justify-content: space-evenly;
}

#footerTop>ul>li {
    font-size: 15px;
}

#footerBottom {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: grey;
}

#footerBottom>ul>li {
    font-size: 13px;
    text-align: center;
}

#footer h3 {
    font-size: 16px;
}

#footer h2 {
    font-size: 19px;
}