/* 
    CSS 주석 
    어디에{무엇을:어떻게;}
    어디에{무엇을:어떻게; 무엇을:어떻게;}

    px: 픽셀, 고정형 크기 
    
*/



/* ---웹폰트:눈누(학교안심몽글몽글)--- */
@font-face {
    font-family: 'RIDIBatang';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.title {
    font-family: 'RIDIBatang';
    font-size: 30px;
    /* font-style: italic; */
    font-style: bold;
}

.content {
    font-family: 'Pretendard-Regular';
    color: orangered;
    /* 단어 간격: 어간*/
    word-spacing: 10px;
    /* 단어 간격: 자간 */
    letter-spacing: 2px;
    /* 줄간격 */
    line-height: 160%;
}

#writer {
    /* 텍스트/컨텐츠 가로 정렬: left, right, center */
    text-align: center;
    /* 텍스트 선긋기 underline밑줄, overline윗줄, line-through취소선 */
    text-decoration: underline overline line-through;
    /* 텍스트 그림자: x축, y축, 흐림정도, 색상 */
    text-shadow: 8px 10px 1px red;
    /* 색상: 1.색상이름 2.헥사코드[16진수] 3.RGB색상[0~255 사이 3칸] */
    color: orange;
    color: #0cd816;
    color: rgb(0, 0, 255);
}