img {
    width: 300px;
}

.deco_text_box {
    width: 500px;
    background-color: aqua;
    padding: 15px;
}

.deco_head_number {
    color: yellowgreen;
    font-size: 22px;
    margin-right: 10px;
}

p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

/* 글머리 제거 방법 */
li {
    list-style-type: none;
}