/* 기본 여백 제거 */
* {
    margin: 0px;
    padding: 0px;
    /* list-style-type: none; */
}

/* a 마크업 기본값 제거: 밑줄제거, 색상변경 */
a {
    text-decoration: none;
    color: black;
}

/* 구역 사이즈: 테두리 기준 */
* {
    box-sizing: border-boxs;
}

/* 확인용 */
/* * { border: 1px solid red; } */

/* ================== 1. 헤더 ================== */
#header {
    width: 1280px;
    height: 100px;
    margin: 30px auto;
    display: flex;
    /* 하위요소들의 배치방법 */
    justify-content: space-between;
    /* 양쪽 끝에 균등 정렬 */
    align-items: center;
    /* 세로 정렬 가운데 */
    /* 레이아웃용도: 추후 삭제 */
    /* background-color: beige; */
}

#topMenu {
    display: flex;
    justify-content: flex-end;
    /* flex요소 오른쪽 정렬 */
    margin: 10px 0px;
    font-size: 14px;
}

#topMenu>li {
    margin-left: 20px;
}

/* li마다 왼쪽 바깥여백 */

#mainMenu {
    display: flex;
    margin: 30px 0px;
    /* 바깥 여백 */
    font-size: 24px;
    font-weight: bold;
}

#mainMenu>li {
    margin-left: 50px;
}

/* ================== 2. 메인이미지 ================== */
#mainImg {
    width: 100%;
}

/* ================== 3. 본문 ================== */
#contents {
    width: 1280px;
    height: 500px;
    margin: 30px auto;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}

#aside {
    width: 250px;
}

#mainContent {
    width: 1000px;
    display: flex;
    flex-direction: column;
}

#mainContent>img {
    width: 400px;
    margin: 10px auto;
}

#aside>h3 {
    background-color: grey;
    color: white;
    font-size: 20px;
    padding: 15px;
}

#aside>ul>li {
    border-bottom: 2px solid #eeeeee;
    padding: 10px;
}

#mainContent>hr {
    margin: 20px 0px;
}

/* ================== 4. 푸터 ================== */
#footer {
    margin-top: 100px;
    background-color: rgb(44 42 41);
    /* height: 100px; */
}

#footerContent {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px;
}