#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inputBox {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#todoInput {
    flex: 1;
    padding: 10px;
}

#addBtn {
    padding: 10px;
}

#todoList {
    width: 40%;
}

.todoItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}

.willTodo {
    background-color: beige;
}

.doneTodo {
    background-color: lightgray;
}

.doneTodo>div:first-child {
    text-decoration: line-through;
}

.todoItem button {
    margin-left: 10px;
}