#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

#inputBox {
    display: flex;
    width: 40%;
    margin-bottom: 20px;
}

#todoInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

#addBtn {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    background-color: #f0f0f0;
    cursor: pointer;
}

#todoList {
    width: 40%;
}

.todoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

.willTodo {
    background-color: beige;
}

.doneTodo {
    background-color: lightgray;
}

.doneTodo>div:first-child {
    text-decoration: line-through;
    color: #777;
}

.todoItem button {
    margin-left: 10px;
}