#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inputBox {
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: center;
}

#inputBox input {
    width: 70%;
    padding: 20px;
}

#inputBox button {
    display: flex;
    width: 20%;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

#tableBox {
    width: 40%;
    margin-top: 30px;
}

#tableBox {
    display: flex;
    flex-direction: column;
}

#tableBox tr {
    display: flex;
    justify-content: space-between;
}

#tableBox div {
    display: inline-block;
    justify-content: space-between;
}

tr .willTodo {
    background-color: yellow;
}

tr .doneTodo {
    background-color: gray;
}