form {
    max-width: 500px;
    margin: 0 auto;
}

form>* {
    margin-bottom: 16px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

@media (min-width:768px) {
    form {
        grid-template-columns: 1fr 1fr;
    }
}